/* Uncommented body, html styles since they were previously commented out */
body, html {
  margin-top: 30px; /* Adjust this value based on the height of your navbar */
  padding-top: auto;
  font-family: calibri;
  background-color: darkblue;
}

.tabulator-table .tabulator-header {
  position: sticky;
  margin-top: 5px; /* Adjust this value based on the height of your navbar */
  z-index: 1000; /* Ensure the header is above the navbar */ 
}

.tabulator .tabulator-footer .tabulator-paginator {
  color: #3759d7;
  flex: 1;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
}

.tabulator-row:hover {
  background-color: #090490;
}

@media (hover: hover) and (pointer: fine) {
  .tabulator-row.tabulator-selectable:hover .tabulator-cell {
      background-color: #2544b7;
      color:white;
  }
}

.tabulator-row .tabulator-cell {
  border-right: 1px solid #fff;
  padding: 2px auto;
  background-color:transparent;
  /* border-radius:5px; */
}

#tabulator-container.custom-tabulator {
  font-size: 12px;
  margin: 10px auto; /* Adjust this value based on the height of your navbar */
  overflow-y:  5px auto; /* Allow vertical scrolling */
  max-height: calc(100vh - 30px - 100px); /* Subtract the height of the navbar and search bar from the viewport height */
}

.container-fluid {
  max-width: auto;
  margin: auto;
  background-color: #040089;
  color: white;
  border-radius: 10px;
}
