{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link href="https://unpkg.com/tabulator-tables@6.2.1/dist/css/tabulator_modern.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/login_signup/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/agent/agent_table.css' %}">

</head>
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@6.2.1/dist/js/tabulator.min.js"></script>
<!-- <script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script> -->

<div class="tabulator-table">
    {% if user.is_authenticated %}
    <div id="search-bar">
        <label for="name-input">Name</label>
        <input type="text" id="name-input" placeholder="Search...">
        <label for="inquiry_type-input">Inquiry Type</label>
        <input type="text" id="inquiry_type-input" placeholder="Search...">
        <label for="inquiry_stage-input">Inquiry Stage</label>
        <input type="text" id="inquiry_stage-input" placeholder="Search...">
        <label for="assign_to-input">Assign To</label>
        <input type="text" id="assign_to-input" placeholder="Search...">
        <label for="interested_project-input">Interested Project</label>
        <input type="text" id="interested_project-input" placeholder="Search...">
    </div>
    <div id="tabulator-container" class="custom-tabulator">
        <script>
            var agenttableData = [
                {% for agent in agent_records %}
                    {
                        id:"{{agent.id}}",
                        created_date:"{{agent.created_date}}",
                        first_name:"{{agent.first_name}}",
                        last_name:"{{agent.last_name}}",
                        mobile_number:"{{agent.phone_number}}",
                        whatsapp_mobile_number:"{{agent.whatsapp_number}}",
                        email_id:"{{agent.email}}",
                        address:"{{agent.address}}",
                    },
                {% endfor %}
            ];

            var table = new Tabulator("#tabulator-container", {
                data: agenttableData,
                layout: "fitColumns",
                pagination: "local",
                frozenRows:0,
                frozenColumns:3,
                movableColumns:true,
                paginationSize: 50,
                columns: [
                    {title:"ID",field:"id", width:100,frozen:true},
                    {title:"Created Date",field:"created_date",width:150,frozen:true},
                    {title:"First Name",field:"first_name",width:150,frozen:true},
                    {title:"Last Name",field:"last_name",width:150},
                    {title:"Mobile No.",field:"phone_number",width:120},
                    {title:"WA Mobile No.",field:"whatsapp_number",width:120},
                    {title:"Email Id",field:"email",width:150},
                    {title:"Address",field:"address",width:250},    
                ],
            });
            

        </script>
    </div>
    {% else %}
    {% include 'login.html' %}

    {% endif %}
</div>

{% endblock %}


