/* Uncommented body, html styles since they were previously commented out */
body, html {
  margin-top: 5px; /* Adjust this value based on the height of your navbar */
  padding-top: auto;
  font-family: calibri;
}

.tabulator-table .tabulator-header {
  position: sticky;
  margin-top: 5px; /* Adjust this value based on the height of your navbar */
  z-index: 1000; /* Ensure the header is above the navbar */
}

.tabulator-row:hover {
  background-color: #090490;
}

#search-bar {
  font-size: 12px; /* Adjust font size as needed */
  margin: 50px auto 10px auto; /* Adjust margin as needed */
  padding: 5px;
  max-height: calc(100vh - 40px - 90px); /* Subtract the height of the navbar and search bar from the viewport height */
  overflow-y: auto; /* Enable vertical scrolling if needed */
  background-color: #E8EAF6;
  border-radius:20px;
  font-family: calibri;
}

#tabulator-container.custom-tabulator {
  font-size: 10px;
  margin: 10px auto; /* Adjust this value based on the height of your navbar */
  overflow-y: auto; /* Allow vertical scrolling */
  max-height: calc(100vh - 40px - 90px); /* Subtract the height of the navbar and search bar from the viewport height */
}

.container-fluid {
  max-width: auto;
  margin: auto;
  background-color: #040089;
  color: rgb(3, 2, 2);
  border-radius: 15px;
}




