/* Navbar Styling */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000;
    border-radius: 15px;
    z-index: 1000;
    font-size: 15px;
    font-family: "Calibri", Arial, sans-serif;
    padding: 10px 15px; /* Add padding for links */
}

.navbar img {
    width: 100px;
    height: 30px;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px; /* Add padding for clickable area */
    border-radius: 15px;
}

.navbar a:hover {
    background-color: #0030fa;
    color: #ffffff;
}

/* Dropdown Button Styles */
.dropdown .nav-link {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 50px; /* Adjust positioning */
    background-color: #f9f9f9;
    width: 200px; /* Set a specific width */
    z-index: 1;
    border-radius: 15px;
    color: white;
    background-color: #000;
}

.dropdown-content a {
    color: #f8f8f8;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #090490;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Search Bar Styling */
#search-bar {
    display: inherit;
    /* align-items: center; */
    background-color: #343a40;
    color: white;
    border-radius: 15px;
    margin-top: 5px;
    padding: 5px;
}

#search-bar input[type="text"] {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 12px;
    background-color: #343a40;
    color: white;
    box-sizing: border-box; /* Include padding in width */
}

#search-bar .download-xlsx {
    padding: 5px 10px; /* Adjust button padding */
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

#search-bar .download-xlsx:hover {
    background-color: #0056b3;
}

/* Alert Message Styling */
.alert {
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    text-align: center;
}

.alert-warning {
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert .btn-close {
    padding: 5px 10px;
    background-color: red;
    color: wheat;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right; /* Align button to the right */
}

@media (max-width: 768px) {
    .navbar {
        font-size: 14px;
    }
    /* Adjust other styles for smaller screens */
}

.alert .btn-close {
    padding: 5px 10px;
    background-color: red;
    color: wheat;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right; /* Align button to the right within the alert */
}


.alert .btn-close:hover {
    background-color: darkred;
}
