/* Navbar Styling */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000;
    border-radius: 15px;
    z-index: 1000;
    font-size: 15px;
    font-family: calibri;
    margin-top: 5px;
    margin-bottom: 0;
    /* overflow: hidden; */
}

.navbar img {
    width: 100px;
    height: 30px;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    /* padding: 10px 15px; */
    margin-left:25px;
    margin-right:25px;
    border-radius: 15px;
}

.navbar a:hover {
    background-color: #0030fa;
    color: #ffffff;

}

/* Dropdown Button Styles */
.dropdown {
    float: left;
    /* overflow: hidden; */
}

.dropdown .nav-link {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    /* padding: 14px 16px; */
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    border-radius:15px;
}

.dropdown-content {
    display: none;
    margin-top:45px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 50x;
    z-index: 1;
    border-radius:15px;
    color:white;
    background-color:#000;
}

.dropdown-content a {
    float: none;
    color: #f8f8f8;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius:15px;
}

.dropdown-content a:hover {
    background-color: #090490;
    border-radius:15px;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-radius:15px;
}

/* Search Bar Styling */
#search-bar {
    display: flex;
    align-items: center;
    background-color: #343a40;
    color: white;
    border-radius: 15px;
    margin-top: 5px;
    padding: 5px;
}

#search-bar input[type="text"] {
    flex: 0;
    padding: 5px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 12px;
    margin: 0 10px;
    background-color: #343a40;
    color: white;
}

#search-bar .download-xlsx {
    padding: 5px 5px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

#search-bar .download-xlsx:hover {
    background-color: #0056b3;
}

/* Alert Message Styling */
.alert {
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    text-align: center;
}

.alert-warning {
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert .btn-close {
    padding: 8px;
    background-color: red;
    color: wheat;
    border-radius: 15px;
}

.alert .btn-close:hover {
    background-color: darkred;
}
