{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <link href="https://unpkg.com/tabulator-tables@6.2.1/dist/css/tabulator_bootstrap5.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/login_signup/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/inquiry/home_table.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <style>
        @media (min-width: 1200px) {
            .container,.search-bar, .navbar {
                max-width: 4000px;
            }
        }
    </style>

</head>
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@6.2.1/dist/js/tabulator.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<div class="tabulator-table">
    {% if user.is_authenticated %}
    <div id="search-bar">
        <label for="name-input">Name</label>
        <input type="text" id="name-input" placeholder="Search...">
        <label for="inquiry_type-input">Inquiry Type</label>
        <input type="text" id="inquiry_type-input" placeholder="Search...">
        <label for="inquiry_stage-input">Inquiry Stage</label>
        <input type="text" id="inquiry_stage-input" placeholder="Search...">
        <label for="assign_to-input">Assign To</label>
        <input type="text" id="assign_to-input" placeholder="Search...">
        <label for="interested_project-input">Interested Project</label>
        <input type="text" id="interested_project-input" placeholder="Search...">
        <a class="download-xlsx" href="{% url 'download_xlsx' %}">Download XLSX</a>

    </div>
    <div id="tabulator-container" class="custom-tabulator">
        <script>
            var tableData = [
            {% for record in records %}
            {
                id: "{{record.id}}",
                created_date: "{{record.created_date}}",
                first_name: "{{record.first_name}}",
                middle_name: "{{record.middle_name}}",
                last_name: "{{record.last_name}}",
                mobile_number: "{{record.mobile_number}}",
                whatsapp_mobile_number: "{{record.whatsapp_mobile_number}}",
                email_id: "{{record.email_id}}",
                address: "{{record.address}}",
                area: "{{record.area}}",
                city: "{{record.city}}",
                state: "{{record.state}}",
                country: "{{record.country}}",
                inquiry_type: "{{record.inquiry_type}}",
                inquiry_stage: "{{record.inquiry_stage}}",
                interested_project: "{{record.interested_project}}",
                selected_unit: "{{record.selected_unit}}",
                follow_up_date : "{{record.follow_up_date}}",
                remarks: "{{record.remarks}}",
                next_follow_up_date: "{{record.next_follow_up_date}}",
                converted_date: "{{record.converted_date}}",
                assign_to: "{{record.assign_to}}",
                fields: "{{record.fields}}",
            },
            {% endfor %}
            ];
            
            var table = new Tabulator("#tabulator-container", {
                data: tableData,
                layout: "fitColumns",
                pagination: "local",
                rowMouseEnter: function (e, row) {
                    row.getElement().style.backgroundColor = "#f0f0f0"; // Change background color on hover
                },
                rowMouseLeave: function (e, row) {
                    row.getElement().style.backgroundColor = ""; // Revert to default background color on mouse leave
                },
                frozenRows: 0,
                frozenColumns: 3,
                movableColumns: true,
                paginationSize: 50,
                columns: [
                    { title: "ID", field: "id", width: 100, frozen: true,formatter:followupFormatter},
                    { title: "Created Date", field: "created_date", width: 150, frozen: true },
                    { title: "Full Name", field: "first_name", formatter: fullname, width: 150, frozen: true },
                    { title: "Mobile No", field: "mobile_number", width: 120 },
                    { title: "WA Mobile No", field: "whatsapp_mobile_number", width: 120 },
                    { title: "Email ID", field: "email_id", width: 150 },
                    { title: "Address", field: "address", width: 200 },
                    { title: "Area", field: "area", width: 120 },
                    { title: "City", field: "city", width: 120 },
                    { title: "State", field: "state", width: 120 },
                    { title: "Country", field: "country", width: 120 },
                    { title: "Inquiry Type", field: "inquiry_type", width: 110, formatter: type },
                    { title: "Inquiry Stage", field: "inquiry_stage", width: 120, formatter: stage },
                    { title: "Interested Project", field: "interested_project", width: 150 },
                    { title: "Selected Unit", field: "selected_unit", width: 110, formatter: nullvalue },
                    { title: "Follow Up Date", field: "follow_up_date", width: 150, formatter: nullvalue },
                    { title: "Remarks", field: "remarks", width: 250 },
                    { title: "Next Follow Up Date", field: "next_follow_up_date", width: 150, formatter: nullvalue },
                    { title: "Converted Date", field: "converted_date", width: 150, formatter: nullvalue },
                    { title: "Assign To", field: "assign_to", width: 120 },
                    { title: "Fields", field: "fields", width: 120 },
                    { title: "unique_key", field: "unique_key", width: 120 },
                ],
            });

            function followupFormatter(cell) {
                var id = cell.getData()['id'];
                // var unique_key = cell.getData()['unique_key'];
                var button = '<button type="button" class="status_update-button" data-id="' + id + '">' + id + '</button>';

                $('body').off("click", ".status_update-button").on("click", ".status_update-button", function () {
                    var unique_key = $(this).data("id");
                    console.log(unique_key);

                    $.ajax({
                        url: "/update_follow_up/" + unique_key + "/",
                        method: 'GET',
                        success: function (data) {
                            $('body').append(data);
                            $('#inputModal').modal('show');
                        }
                    });
                });

                return button;
            }

            
            function fullname(cell) {
                var first_name = cell.getData()["first_name"];
                var middle_name = cell.getData()["middle_name"];
                var last_name = cell.getData()["last_name"]; // Retrieve the value of 'selected_unit' from the row data
                return [first_name, middle_name, last_name].join(" ")
            }

            function nullvalue(cell) {
                var data = cell.getData()["selected_unit"];
                if (data === "None") {
                    return "";
                } else {
                    return data;
                }
            }

            function stage(cell) {
                var data = cell.getRow().getData();
                var stage = data['inquiry_stage'];
                if (stage === "Converted") {
                    // Apply background color to the row
                    var rowElement = cell.getRow().getElement();
                    rowElement.style.backgroundColor = "#38ff63";
                    rowElement.style.color = "#000000";
                } else if (stage === "Site Visited") {
                    // Apply background color to the row
                    var rowElement = cell.getRow().getElement();
                    rowElement.style.backgroundColor = "#ffed47";
                    rowElement.style.color = "#000000";
                }

                return stage;
            }

            function type(cell) {
                var data = cell.getRow().getData();
                var type = data['inquiry_type'];
                if (type === "Cold") {
                    // Apply background color to the row
                    var rowElement = cell.getRow().getElement();
                    rowElement.style.backgroundColor = "#ff384c";
                    rowElement.style.color = "#000000"; // White font color
                }
                return type;
            }

            var nameInput = document.getElementById('name-input');
            var inquiryTypeInput = document.getElementById('inquiry_type-input');
            var inquiryStageInput = document.getElementById('inquiry_stage-input');
            var assignToInput = document.getElementById('assign_to-input');
            var interestedProjectInput = document.getElementById('interested_project-input');

            function filterTable() {
                var nameValue = nameInput.value.toLowerCase();
                var inquiryTypeValue = inquiryTypeInput.value.toLowerCase();
                var inquiryStageValue = inquiryStageInput.value.toLowerCase();
                var assignToValue = assignToInput.value.toLowerCase();
                var interestedProjectValue = interestedProjectInput.value.toLowerCase();

                table.setFilter(function (data) {
                    return (
                        (data.first_name && data.first_name.toLowerCase().includes(nameValue)) ||
                        (data.middle_name && data.middle_name.toLowerCase().includes(nameValue)) ||
                        (data.last_name && data.last_name.toLowerCase().includes(nameValue)) ||
                        (data.inquiry_type && data.inquiry_type.toLowerCase().includes(inquiryTypeValue)) ||
                        (data.inquiry_stage && data.inquiry_stage.toLowerCase().includes(inquiryStageValue)) ||
                        (data.assign_to && data.assign_to.toLowerCase().includes(assignToValue)) ||
                        (data.interested_project && data.interested_project.toLowerCase().includes(interestedProjectValue))
                    );
                });

                table.redraw();

            }

            nameInput.addEventListener('input', filterTable);
            inquiryTypeInput.addEventListener('input', filterTable);
            inquiryStageInput.addEventListener('input', filterTable);
            assignToInput.addEventListener('input', filterTable);
            interestedProjectInput.addEventListener('input', filterTable);

        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    </div>
    {% else %}
    {% include 'login_signup/login.html' %}

    {% endif %}
</div>

{% endblock %}