{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<div class="navbar">
    <a class="active" href="{% url 'home' %}">Real Estate CRM</a>
    {% if user.is_authenticated %}
    <a class="nav-link" href="{% url 'add_inquiry' %}">Add Inquiry</a>
    <a class="nav-link" href="{% url 'upload_inquiry' %}">Upload Inquiry</a>
    <a class="nav-link" href="{% url 'account' %}">Account</a>
    <a class="nav-link" href="{% url 'payment' %}">Recieve Payment</a>
    <a class="nav-link" href="{% url 'payment' %}">Bulk Upload</a>
    <a class="nav-link" href="{% url 'agent' %}">Add Agent</a>
    <a class="nav-link" href="{% url 'users' %}">User List</a>
    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a class="nav-link" href="{% url 'signup' %}">Register</a>
    <a class="nav-link" href="{% url 'login' %}">Login</a>
    {% endif %}
</div>
