/* Reset default browser styles */
body {
    background-color:darkblue;
    font-family:calibri;
}
  
  /* Container styling */
  .signup-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    /* padding-left:40px; */
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f7f7f7;
  }
  
  .signup-container h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Form styling */
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .col-md-4 {
    flex: 0 0 45%; /* Adjust column width */
    margin-bottom: 1px;
  }
  
  /* Label styling */
  label {
    font-weight: bold;
  }
  
  /* Input field styling */
  input[type="text"],
  input[type="password"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box; /* Ensure padding and border are included in width */
  }
  
  /* Button styling */
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 44%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
    
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .col-md-4 {
      flex: 0 0 45%; /* Adjust column width for smaller screens */
    }
  }
  