{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Account</title>
  <!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="{% static 'css/account/account_form.css' %}">
</head>

<body>
  {% if user.is_authenticated %}
  <div class="account-container">
    <h3>Create Account</h3>
    <form method="post">
      {% csrf_token %}
      <div>
        <label for="{{ form.first_name.id_for_label }}">First Name</label>
        {{ form.first_name }}
      </div>
      <div>
        <label for="{{ form.middle_name.id_for_label }}">Middle Name</label>
        {{ form.middle_name }}
      </div>
      <div>
        <label for="{{ form.last_name.id_for_label }}">Last Name</label>
        {{ form.last_name }}
      </div>
      <div>
        <label for="{{ form.mobile_number.id_for_label }}">Mobile Number</label>
        {{ form.mobile_number }}
      </div>
      <div>
        <label for="{{ form.whatsapp_mobile_number.id_for_label }}">WhatsApp Mobile Number</label>
        {{ form.whatsapp_mobile_number }}
      </div>
      <div>
        <label for="{{ form.email_id.id_for_label }}">Email ID</label>
        {{ form.email_id }}
      </div>
      <div>
        <label for="{{ form.address.id_for_label }}">Address</label>
        {{ form.address }}
      </div>
      <div>
        <label for="{{ form.area.id_for_label }}">Area</label>
        {{ form.area }}
      </div>
      <div>
        <label for="{{ form.city.id_for_label }}">City</label>
        {{ form.city }}
      </div>
      <div>
        <label for="{{ form.state.id_for_label }}">State</label>
        {{ form.state }}
      </div>
      <div>
        <label for="{{ form.country.id_for_label }}">Country</label>
        {{ form.country }}
      </div>
      <div>
        <label for="{{ form.interested_project.id_for_label }}">Interested Project</label>
        {{ form.interested_project }}
      </div>
      <div>
        <label for="{{ form.selected_unit.id_for_label }}">Selected Unit</label>
        {{ form.selected_unit }}
      </div>
      <div>
        <label for="{{ form.sq_ft.id_for_label }}">Square Feet</label>
        {{ form.sq_ft }}
      </div>
      <div>
        <label for="{{ form.sq_meter.id_for_label }}">Square Meter</label>
        {{ form.sq_meter }}
      </div>
      <div>
        <label for="{{ form.rate_per_ft.id_for_label }}">Rate per Square Feet</label>
        {{ form.rate_per_ft }}
      </div>
      <div>
        <label for="{{ form.rate_per_meter.id_for_label }}">Rate per Square Meter</label>
        {{ form.rate_per_meter }}
      </div>
      <div>
        <label for="{{ form.cash.id_for_label }}">Cash</label>
        {{ form.cash }}
      </div>
      <div>
        <label for="{{ form.gst.id_for_label }}">GST</label>
        {{ form.gst }}
      </div>
      <div>
        <label for="{{ form.total_amount.id_for_label }}">Total Amount</label>
        {{ form.total_amount }}
      </div>
      <div>
        <label for="{{ form.payment_terms.id_for_label }}">Payment Terms</label>
        {{ form.payment_terms }}
      </div>

      <div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
  <!-- Add other fields here with similar formatting -->

  </form>
  </div>
  {% else %}
  {% include 'login_signup/login.html' %}
  {% endif %}
</body>

</html>

{% endblock %}