{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Payment</title>
  <link rel="stylesheet" href="{% static 'css/account/payment.css' %}">
  <!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
</head>

<body>
  {% if user.is_authenticated %}
  <div class="payment-container">
    <h3>Recieve Payment</h3>
    <form method="post">
      {% csrf_token %}
      <div>
        <label for="{{ form.unit.id_for_label }}">Unit</label>
        {{ form.unit }}
      </div>
      <div>
        <label for="{{ form.amount_receive.id_for_label }}">Amount Received</label>
        {{ form.amount_receive }}
      </div>
      <div>
        <label for="{{ form.payment_type.id_for_label }}">Payment Type</label>
        {{ form.payment_type }}
      </div>
      <div>
        <label for="{{ form.gst.id_for_label }}">GST</label>
        {{ form.gst }}
      </div>
      <div>
        <label for="{{ form.current_outstanding.id_for_label }}">Current Outstanding</label>
        {{ form.current_outstanding }}
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  {% else %}
  {% include 'login_signup/login.html' %}
  {% endif %}
</body>

</html>


{% endblock %}